<h1>Enter your new password</h1>

<% flash.each do |type, message| %>
  <% if message.present? %>
    <div>
      <%= message %>
    </div>
  <% end %>
<% end %>


<%= form_with model: @account, url: process_update_password_forgot_password_index_path, local: true, data: {turbo: false} do |forms| %>

    <%= forms.label :password, "New password" %>
    <%= forms.text_field :password %>

    <%= forms.label :password_confirmation, "Confirm new password" %>
    <%= forms.password_field :password_confirmation  %>

    <%= forms.submit "Change password" %>
<% end %>